/* Общие стили для бара */
.Bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Ссылки */
.Bar a {
  margin-top: 20px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: color 0.2s;
}

.Bar a:hover {
  color: black;
}

/* Если бар открыт — показываем */
.Bar.open {
  transform: translateX(0);
}

/* --- Десктопная версия --- */
@media (min-width: 768px) {
  .Bar {
    position: relative;
    transform: none !important;
    height: 100vh;
    width: 250px; /* Увеличил ширину */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 50;
    flex-direction: column;

  }
}
